<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-6">
          <span class="title">Contacts</span>
        </div>
      </div>
      <div class="row align-items-center mt-2">
        <div class="col-sm-8">
          <div class="input-group">
            <input
              type="text"
              #searchBox
              (keyup)="search(searchBox.value)"
              class="form-control"
              placeholder="Enter a search value" />
            <span class="input-group-addon" (click)="search(searchBox.value)">
              <i class="glyphicon glyphicon-search"></i>
             </span>
          </div>
        </div>

        <div class="col-sm-4 text-end">
          <a class="btn btn-success" [routerLink]="['new']">New Contact</a>
        </div>
      </div>
    </div>


    <div class="list-group">
      <app-contact-item
        *ngFor="let contactEl of contacts | contactsFilter:term; let index = index"
        [contact]="contactEl"
        [index]="index">
      </app-contact-item>
    </div>
  </div>
</div>
